.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

.divSpeed {
    float: left;
}

.divSpeedImg {
    border-radius: 100px;
    width: 200px;
}

#speed {
    font-size: 23px;
    margin: 15px;
}

.divVolume {
    float: right;
}

.divVolumeImg {
    border-radius: 100px;
    width: 200px;
}

#volume {
    font-size: 23px;
    margin: 15px;
}

.play_button {
    width: 130px;
    font-size: 23px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
}